
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
body{
  background-color:#f5f5f5;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel {
    margin-bottom: 20px !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
}
.jumbotron {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #06a2f0;
    text-align: center;
    color: #fff;
}


footer {
    width: 100%;
   
    background: linear-gradient(to right, #4797ff,#001d42);
   
    padding: 50px 0 30px;
    border-top-left-radius:0px;
    font-size: 13px;
    line-height: 9px;
    
  }
  
  .row {
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
  }
  
  .col {
    flex-basis: 25%;
    padding: 10px;
  }
  
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 15%;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 100px;
  }
  
  .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  .col p{
    font-size:15px;
  }
  
  .col a{
  color:#fff;
  }
  
  .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  
  ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  form .far {
    font-size: 18px;
    margin-right: 10px;
  }
  
  form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  form button .fas {
    font-size: 16px;
    color: #ccc;
  }
  
  .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  
  hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  
  .copyright {
    text-align: center;
    color:white;
  }
  
  .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
   position: absolute;
    top: 25px;
    left: 0;
    margin-top:1.5rem;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }
  
  @media (max-width: 700px) {
    footer {
      bottom: unset;
    }
    .col {
      flex-basis: 100%;
    }
  
    .col:nth-child(2), .col:nth-child(3) {
      flex-basis: 100%;
    }
  }
  .panel-body{
    color:#023650;
  }
  .foot_icon{
    color:black;
    background-color: white;
    border-radius: 50%;
    margin-right: 2rem;
    margin-left: 2rem;
    width:4rem;
    height:4rem;
    align-items: center;
    padding:0.7rem;
  }
  @media(max-width:1024px)
  {
    .foot_icon{
      color:black;
      background-color: white;
      border-radius: 50%;
      margin-right:1rem;
      margin-left:1rem;
      width:4rem;
      height:4rem;
      margin-bottom:2rem;
      align-items: center;
      padding:0.7rem;
    }
 
  }