body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}

.cards-container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  border-radius:30px;

}

.card-wrapper {
  display:flex;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 25%;
	border-radius: 5px;
  margin:5px auto;
	-webkit-animation:scaledown 0.3s linear;
	-moz-animation:scaledown 0.3s linear;
	animation:scaledown 0.2s linear;
	transform-origin:50% 50%;
	animation-fill-mode: forwards;
  background-color: white;
  height: 130px;
  width:334px;
}

.card-wrapper:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index:100;
	-webkit-animation:scale 0.3s linear;
	-moz-animation:scale 0.3s linear;
	animation:scale 0.1s linear;
	transform-origin:50% 50%;
	animation-fill-mode: forwards;
}

.card-image img {
	border-radius: 5px 0 0 5px;
  height: 70%;
  width: 90px;
  object-fit: cover;
  padding: 10px;
}

.card-content h4 {
  padding: 8px 0px ;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
font-size: 18px;
font-weight: 600;
color: rgb(0, 120, 212);

line-height: 0px;
  
}
.card-content p {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
font-size: 13px;
font-weight: 400;
color: rgb(51, 51, 51);
display: block;
line-height: 18px;
}

@keyframes scale{
	0%{
		transform:scale(1.0);
  }
	100%{
		transform:scale(1.02);
	}
}

@keyframes scaledown{
	0%{
		transform:scale(1.02);
	}
	100%{
		transform:scale(1.0);
	}
}