.first {
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 4.3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 1.12em;
    border: none;

  }

  .second {
    top: 70%;
    left: 15%;
    border: none;
    width: 85%;
    background-color: white;
    height: 30%;
    border: none;
  }

  .mid {
    width: 0%;
  }

  .second-one {
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 120, 212);
    display: inline;
    line-height: 28px;
    border: none;
    margin-bottom: 10px;

  }

  .second-two {
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: 400;
    color: rgb(50, 49, 48);
    display: inline;
    line-height: 28px;
  }

  .second-three {
    color: white;
    top: 50%;
    left: 50%;
    text-decoration: none;
  }

  .box1 {

    animation-name: harry2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }


  @keyframes harry2 {
    0% {
      top: 0%;
      /* left:0px; */
    }

    100% {
      top: 40%;
      /* left: 250px; */
    }

  }


  .box2 {

    animation-name: harry1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }


  @keyframes harry1 {
    0% {
      bottom: 0%;
      left: 100%;

    }

    100% {
      bottom: 0%;
      right: 0%;
    }


  }

  @media (max-width: 1024px) {
      
  .first {
    
    font-size: 3.5rem;
    

  }

  .second {
    top:65%;
    left: 15%;
    border: none;
    width: 85%;
    background-color: white;
    height: 35%;
    border: none;
  }

  .second-two {
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 400;
    color: rgb(50, 49, 48);
    display: inline;
    line-height: 28px;
  }

  .second-three {
    color: white;
    top: 50%;
    left: 50%;
    text-decoration: none;
  }



  @keyframes harry2 {
    0% {
      top: 0%;
      /* left:0px; */
    }

    100% {
      top: 35%;
      /* left: 250px; */
    }

  }


  @keyframes harry1 {
    0% {
      bottom: 0%;
      left: 100%;

    }

    100% {
      bottom: 0%;
      right: 0%;
    }

    }
  }

  @media (max-width: 900px) {
      
  .first {
    
    font-size: 2.3rem;
    

  }

  .second {
    top:100%;
    left: 0%;

    width: 100%;
    background-color: white;
    height: 30%;
    border: none;
  }

  .second-three {
    color: white;
    top: 50%;
    left: 50%;
    text-decoration: none;
  }



  @keyframes harry2 {
    0% {
      top: 0%;
      /* left:0px; */
    }

    100% {
      top: 50%;
      /* left: 250px; */
    }

  }


  @keyframes harry1 {
    0% {
      bottom: 0%;
      left: 100%;

    }

    100% {
      bottom: 0%;
      right: 0%;
    }

    }
  }

  @media (max-width: 500px) {
      
  .first {
    
    font-size: 1rem;
    

  }
.mid{
width: 20%;
}
  .second {
    top:100%;
    left: 0%;

    width: 100%;
    background-color: white;
    height: 30%;
    border: none;
  }

  .second-three {
    color: white;
    top: 50%;
    left: 50%;
    text-decoration: none;
  }



  @keyframes harry2 {
    0% {
      top: 0%;
      /* left:0px; */
    }

    100% {
      top: 60%;
      /* left: 250px; */
    }

  }


  @keyframes harry1 {
    0% {
      bottom: 0%;
      left: 100%;

    }

    100% {
      bottom: 0%;
      right: 0%;
    }

    }
  }