@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=K2D:wght@100&family=Teko:wght@300&display=swap');

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}*/
.card_team{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 460px;
    width: 296px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card_team .card_team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.swiper{
    width: 950px;
}
/*section{
    position: relative;
    width: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}*/

section .card_team .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}
section .card_team .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.box1_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box2_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box3_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box4_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box5_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box6_t{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #007bff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.card_team .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_team .media-icons i{
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card_team .media-icons i:hover{
    opacity: 1;
}
.card_team .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.card_team .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

section .card_team .about{
    display: flex;
    text-align: center;
    color: #444;
    margin-top: 45px;
    margin-bottom: 5px; 
}
.card_team .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card_team .button button{
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card_team .button button:hover{
    opacity: 0.8;
}
.swiper-pagination{
    position: absolute;
    top: 510px;
}
.swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: #007bff;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #007bff;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #007bff;
}
